SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_BUCKET=

BACKEND_API_URL=http://localhost:3000
BACKEND_API_KEY=

PORT=8000
NODE_ENV=

AUDIO_SAMPLE_RATE=
AUDIO_CHANNELS=
AUDIO_BITRATE=

ZM_RTMS_CLIENT=

ZM_RTMS_SECRET=