SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_BUCKET=

BACKEND_API_URL=http://localhost:3000
BACKEND_API_KEY=

PORT=8000
NODE_ENV=

AUDIO_SAMPLE_RATE=
AUDIO_CHANNELS=
AUDIO_BITRATE=


ZOOM_HOST=https://zoom.us
ZOOM_APP_CLIENT_ID=your_zoom_app_client_id
ZOOM_APP_CLIENT_SECRET=your_zoom_app_client_secret
ZOOM_SECRET_TOKEN=zoom_secret_token
ZOOM_APP_REDIRECT_URI=https://yourdomain.com/zoomapp/auth
ZOOM_APP_CLIENT_URL=http://localhost:3000
ZOOM_APP_OAUTH_STATE_SECRET=your_random_32_char_secret_for_state
REDIS_ENCRYPTION_KEY=your_32_byte_encryption_key_here